:root{
    --color-primary:#ece9e1;
    --color-accent:#e43c13;
    --color-secondary:#d6536d;
    /* --color-secondary: #efb11d; */

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:monospace;
}

body{
   
    background-color: var(--color-primary);
    color: var(--color-accent);
    font-family:monospace;
}
a{
    text-decoration: none !important;
    color: var(--color-accent) ;
    font-size: 20px; 
    font-weight: 500;
}
li{
    list-style: none;;
}

section{

    margin-bottom: 30px;
    padding: 10px 50px;
}


/* nav_section start */

.flex_common{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__menu li {
    display: inline-block;
    margin: 0px 10px;
}

.mobile_menubar{
  position: relative;
  display: block;
  width : 30px;
  height: 30px;
  cursor: pointer;
  display: none;
}

.mobile_menubar .bar,
.mobile_menubar::after,
.mobile_menubar::before{
   content: " ";
   display: block;
   width: 100%;
   height: 4px;
   border-radius: 3px;
   background-color: #e43c13;
   margin: 4px 0px;
   transition: 4ms;

}

.mobile_menubar.active::before{
    transform: rotate(-45deg) translate(-6px, 5px);
}

.mobile_menubar.active .bar{
   opacity: 0;

}

.mobile_menubar.active::after{
    transform: rotate(45deg) translate(-6px, -6px);
}
.nav__list a:hover{
      color: #000000;
      border-bottom: 1px solid #d6536d;
      transition: .5s;
}


/* nav_section end */
@media  (960px >= width) {
    .mobile_menubar{
        display: block;
    }

    .nav__menu li{
        display: block;
        text-align: center;
        margin: 10px 0px;
    }
   
    nav.nav__section {
        content: "";
        position: absolute;
        align-content: center;
        display: none;
        height: 16rem;
        margin: 0;
        left: 0;
        right: 0;
        top: 100px;
        background-color: rgba(0, 0, 0, 0.3);
    }
    nav.nav__section.active{
        display: block;
    }

}





